/practica1/dist/
/practica2/practica1/build/
/practica2/practica1/nbproject/private/
/practica2/practica/build/
/practica2/practica/nbproject/private/
/practica3/practica3/dist/
/practica4/practica4/build/
/practica4/practica4/dist/
/practica4 - copia/practica4/build/
/practica4 - copia/practica4/dist/
/practica4 - copia/practica4/nbproject/private/
/practica5/practica4/build/
/practica5/practica4/dist/
/practica5/practica4/nbproject/private/